body {
    background-color: rgb(210, 211, 197);
}

.headText {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(239, 237, 222);
    height: 170px;
    min-width: 1000px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.headbutton {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}



.vexbox {
    background-color: white;
    margin-top: 2em;
    margin-left: 5rem;
    margin-right: 5rem;
    min-width: 900px;

}

.vf-flagup {
    background-color: lightblue;
    padding: 50em;
    position: absolute;
}





.zoom-lineNote {
    margin-left: 2em;
    margin-top: 0em;
   
   
}

.footer-time-Signature {
    margin-left: 1em;
    margin-block-end: 1em;
    
}
.text-number {
    position: absolute;
    top: 2em;

}
.footer-Key-Signature {
    margin-right: 1em;
    margin-block-end: 1em;
    text-align: right;
}

.key-Signature-top-1 {
    width:45px;
}
.key-Signature-top-2 {
    width:31.125px;
    top: -11.1px;
    left: -5px;
    position: relative;
}
.key-Signature-top-3 {
    width:38.5px;
    top: -11px;
    left: -10px;
    position: relative;
}
.key-Signature-top-4 {
    width:47.5px;
    top: -11px;
    left: -15px;
    position: relative;
}
.key-Signature-top-5 {
    width:62px;
    top: -11px;
    left: -20px;
    position: relative;
}
.key-Signature-top-6 {
    width:73.5px;
    top: -11px;
    left: -25px;
    position: relative;
}
.key-Signature-top-7 {
    width:85px;
    top: -11px;
    left: -30px;
    position: relative;
}
.key-Signature-top-8 {
    width:93.5px;
    top: -11px;
    left: -35px;
    position: relative;
}
.key-Signature-top-9 {
    width:117px;
    top: -11px;
    left: -40px;
    position: relative;
}

.key-Signature-end-1 {
    width:45.125px;
    top: 0px;

}

.key-Signature-end-2 {
    width:33.5px;
    top: -8px;
    left: -7px;
    position: relative;
}

.key-Signature-end-3 {
    width:38.25px;
    top: -8.6px;
    left: -11.5px;
    position: relative;
    
}

.key-Signature-end-4 {
    width:47px;
    top: -8.25px;
    left: -16px;
    position: relative;
  
}

.key-Signature-end-5 {
    width:60.75px;
    top: -8.25px;
    left: -20.5px;
    position: relative;
   
}

.key-Signature-end-6 {

    width:72px;
    top: -8.25px;
    left: -25px;
    position: relative;
 
}

.key-Signature-end-7 {

    width:85px;
    top: -8.25px;
    left: -29.5px;
    position: relative;
   
}

.key-Signature-end-8 {

    width:95.9px;
    top: -8.25px;
    left: -33.9px;
    position: relative;
  
}

.key-Signature-end-9 {
    
    width:113px;
    top: -8.25px;
    left: -38.5px;
    position: relative;
    
}

.key-Signature-end-1-1 {
    width:44px;
    margin-top: 4.60px;

}

.key-Signature-end-1-2 {
    width:30.5px;
    margin-top: -17px;
    left: -7px;
    position: relative;
}

.key-Signature-end-1-3 {
    width:37.5px;
    top: -8.6px;
    left: -11.5px;
    position: relative;
    
}

.key-Signature-end-1-4 {
    width:46px;
    top: -8.25px;
    left: -16px;
    position: relative;
  
}

.key-Signature-end-1-5 {
    width:60.5px;
    top: -8px;
    left: -20.5px;
    position: relative;
   
}

.key-Signature-end-1-6 {

    width:71.5px;
    top: -8px;
    left: -25px;
    position: relative;
 
}

.key-Signature-end-1-7 {

    width:82px;
    top: -8px;
    left: -29.5px;
    position: relative;
   
}

.key-Signature-end-1-8 {

    width:90px;
    top: -8px;
    left: -33.9px;
    position: relative;
  
}

.key-Signature-end-1-9 {
    
    width:113.5px;
    top: -8.25px;
    left: -38.5px;
    position: relative;
    
}

.key-Signature-centes {
    text-align: center;
}

.footer-select-key{
    position: relative;
    width: 150px;
    top: -1.5rem;
    left: 6rem;
  

}

.mode-label{
    position: relative;
    width: 150px;
    top: 1.7rem;
    left: -3.5rem;
  
}

.key-Signature-text-top1 {
    top: 6em;
    left:8.5em;
    position: absolute;

}

.key-Signature-text-top2 {
    top: 6em;
    left:10.7em;
    position: absolute;
}

.key-Signature-text-top3 {
    top: 6em;
    left:13.6em;
    position: absolute;
}

.key-Signature-text-top4 {
    top: 6em;
    left:17em;
    position: absolute;
}

.key-Signature-text-top5 {
    top: 6em;
    left:21em;
    position: absolute;
}

.key-Signature-text-top6 {
    top: 6em;
    left:26.5em;
    position: absolute;
}

.key-Signature-text-top7 {
    top: 6em;
    left:33em;
    position: absolute;
}

.key-Signature-text-top8 {
    top: 6em;
    left:38em;
    position: absolute;
}

.key-Signature-text-end1 {
    top: 12em;
    left:8.5em;
    position: absolute;
   
}

.key-Signature-text-end2{
    top: 12em;
    left:10.7em;
    position: absolute;
   
}

.key-Signature-text-end3 {
    top: 12em;
    left:13.6em;
    position: absolute;
   
}

.key-Signature-text-end4 {
    top: 12em;
    left:17em;
    position: absolute;
   
}

.key-Signature-text-end5 {
    top: 12em;
    left:21em;
    position: absolute;
   
}

.key-Signature-text-end6 {
    top: 12em;
    left:26.5em;
    position: absolute;
   
}

.key-Signature-text-end7 {
    top: 12em;
    left:33em;
    position: absolute;
   
}


.key-Signature-text-end8 {
    top: 12em;
    left:38em;
    position: absolute;
   
}