body {
    background-color: rgb(148, 148, 148);
}

.headText {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 170px;
}



.vexbox {
    position: static;
    background-color: rgb(255, 255, 255);
    margin-top: 12pc;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}





.divzoom {
    top: 12pc;
    zoom: 200%;
    margin-left: auto;
    margin-right: auto;

}

